
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cabecalho {
    align-items: center;
     justify-content: center;
    background-color: #fff;
}

.navbar img {
    left: 10px;
    display: flex;
}

.nome h1 {
  color: #f6f6f6;
}


.plano-de-fundo {
    
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}
.container .plano-de-fundo {
    position: relative;
    right: 120px;
    background-image: url(../img/foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1350px;
    height: 200px;
    
   
}

.foto-perfil img {
    width: 120px;
    height: 120px;
}

/* chat */







/* Chat Bott styling  */

.chat {
    position: relative;
    left: 100px;
    
}

.main{
    height: 600px !important;
    width: 900px !important;
    background-color: #fff;
    height: 470px;
    padding: 20px;
    background-image: url('Logo.png');
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
  

}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 900px !important ;
}

#inp_text{
   
    border: #000;
    border-radius: 20px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: inset 0px 0px 5px -2px rgb(160, 160, 160);
}
.main::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: inset 0px 0px 5px -2px rgb(160, 160, 160);
}
.main::-webkit-scrollbar-thumb{
    background: #FF3999;
    border-radius: 10px;
}
.main::-webkit-scrollbar-thumb:hover{
    background: #000;
}
.response{
    width: fit-content;
    background-color: #fff;
    max-width: 75%;
    padding: 100px;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -6px #000;
    z-index: 1;
}
.request{
    width: fit-content;
    background-color: #F9CBE0;
    max-width: 75%;
    padding: 10px;
    margin-left: auto;
    margin-top: 20px;
    box-shadow: 2px 2px 10px -6px #000;
    z-index: 1;
}
#outer{
    width: 700px;
    box-shadow: 5px 5px 40px -15px rgb(151,151,151);
}
#send{
    background-color: #FF3999;
    border: #000;
    border-radius: 0px 0px 20px;
}
.img img{
  position: absolute;
  width: 300px;
  z-index: -1;
}



/* chat */
.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}



.media-chat .media-body {

    -webkit-box-flex: initial;
    flex: initial;
    display: table;
}

.media-body {

    min-width: 0;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #000;
}

.media>* {
    margin: 0 8px;
}

.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a7;
    opacity: .8;
    font-weight: 400;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-meta-day::before {
    margin-right: 16px;
}

.media-meta-day::before,
.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    margin-left: 16px;
}

.media-chat.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    padding: 10px;
    background-color: #F9CBE0;
    color: #000;
}

.media-chat .media-body p {
    position: relative;
    padding: 10px;
    margin: 4px 0;
    background-color: #F9CBE0;
    border-radius: 3px;
}






/*Container*/

.container01 {
    position: relative;
    width: 1298px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    
  }
  
  .container01 .leftSide {
    position: relative;
    left: 100px;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .container01 .rightSide {
    position: relative;
    
    background: #e5ddd5;
  }
  
  .container .rightSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/pattern.png");
    opacity: 0.06;
  }
  
  .header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  
  .userimg {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nav_icons {
    display: flex;
  }
  
  .nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
  }
  
  .search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
  
  .search_chat div {
    width: 100%;
  }
  
  .search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
  }
  
  .search_chat div input::placeholder {
    color: #bbb;
  }
  
  .search_chat div ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
  }
  
  .chatlist {
    position: relative;
    height: calc(100% - 110px);
    overflow: auto;
  }
  
  .chatlist .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  
  .chatlist .block.active {
    background: #ebebeb;
  }
  
  .chatlist .block:hover {
    background: #f5f5f5;
  }
  
  .chatlist .block .imgBox {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chatlist .block .details {
    position: relative;
    width: 100%;
  }
  
  .chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
  }
  
  .chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #aaa;
  }
  
  .chatlist .block .details .listHead .time {
    color: #111;
  }
  
  .chatlist .block.unread .details .listHead .time {
    color: #06d755;
  }
  .message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message_p b {
    background: #06d755;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }
  
  .message_p p {
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgText h4 {
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
  }
  
  .imgText h4 span {
    font-size: 0.8em;
    color: #555;
  }
  